*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


/* 
font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
 */

 /* 
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
 */

@font-face {
  font-family: "digital";
  src: url(/Project/assets/fonts/digital-7/digital-7.ttf);
}

body{

}

.header {
  display: flex;
  height: auto;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.container__size {
    max-width: 1281px;
    margin: 0 auto;
}
.header__logo {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 58px;
}
.header__nav {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  gap: 58px;
  align-items: center;
}
.header__nav-list {
  display: flex;
  gap: 58px;
}
.header__nav-item {
}
.header__nav-link {
  color: #000;
}
.header__btn {
  width: 152px;
  height: 56px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}
.header__btn--signup {
}

  /* Main */

  .main {
  margin-top: 94px;
}
.hero {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.hero__baner {
display: flex;
justify-content: space-between;
}
.hero__baner-left {
}
.hero__baner-right-image {
}
.hero__baner-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hero__baner-center-top {
}
.hero__baner-center-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title1 {
  font-size: 91px;
  font-weight: 500;
  color: #484848;
}
.title2 {
  font-size: 187px;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
.title3 {
  font-size: 20px;
  font-weight: 350;
  letter-spacing: 10%;
}
.hero__baner-center-btn {
  width: 207px;
  height: 56px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-weight: 400;
}
.hero__baner-center-bottom {
}
.hero__baner-bottom {
}

 /* hero sponsors */

.hero__sponsors {
  margin-top: 27px;
  padding: 82px 0;
  display: flex;
  justify-content: space-between;
}
.hero__sponsors-image {
} 

  /* deals */ 

  .deals {
    background: #F5F5F5;
  }
  .deals__container {
  padding: 155px 0;
  max-width: 1281px;
  margin: 0 auto;
  display: flex;
  gap: 122px;
}
.deals__promo {
}
.deals__promo-section1 {
}
.deals__promo-title {
  font-size: 46px;
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal; 
}
.deals__promo-text {
  margin-top: 20px;
  max-width: 444px;
  height: auto; 
  font-size: 16px;
  color: #8A8A8A;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-style: normal;
}
.deals__promo-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 40px;
  background: #000;
  color: #fff;
  width: 207px;
  height: 56px;
  border-radius: 10px;
}
.deals__promo-section2 {
  margin-top: 50px;
  
}
.deals__promo-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #484848;
}
.deals__promo-timer {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  text-align: center; 
}
.timer__section {
  margin-top: 15px;
}
.timer__item {
  font-family: "digital";
  font-size: 32px;
  width: 76px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}
.timer__label {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #484848;
  font-size: 24px;
}
.deals__showcase {
  gap: 24px;
  overflow-y: auto;
  display: flex;
}
.deals__showcase-link {
}
.deals__showcase-image {
  object-fit: cover;
  max-width: 404px;
  max-height: 582px;
}

  /* arivals */

  .arivals {
  margin-top: 162px;
  width: 100%;
  padding: 80px 0;
  background: radial-gradient(circle at 50% 50%, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}

.arivals__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.arivals__header-title {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
}
.arivals__header_text {
  margin-top: 20px; 
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  max-width: 614px;
  height: auto;
}

  /* arivals menu */

.arivals__menu {
  margin-top: 50px;

}
.arivals__menu-list {
  display: flex;
  gap: 30px;
}
.arivals__menu-item, .arivals__menu-item-active {
  width: 207px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center; 
  background: #FAFAFA;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.arivals__menu-item-active{
background: #000;
}
.arivals__menu-item-link {
  color: #000;
}
.arivals__menu-item-link-active {
 color: #fff;
}

.active {
  display: flex;
}
.arivals__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 150px;

  gap: 61px;
  
}
.arivals__product-card {
  background: #fff;
  box-shadow: 1px 0px 50px 2px rgba(34, 60, 80, 0.2);
  width: 386px;
  height: 438px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 15px 25px;
}
.arivals__product-image {
}
.arivals__product-title {
  font-size: 20px;
  margin-top: 15px;
}
.arivals__product-price {
  margin-top: 81px;
  font-size: 24px;

}
.arivals__product-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  width: 207px;
  height: 56px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.arivals__product-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.arivals__product-btn {
}

/* colection */

.colection {
  
}
.container__size {
}